
// @mixin flexible($a, $b, $c, $d, $e ){
// 	display: flex;
// 	flex-flow: $a $b;
// 	justify-content: $c;
// 	align-content: $e;
// 	align-items: $d;
// }
@mixin flexible( $a , $b , $c , $d ){
    display:flex;
    flex-flow:$a $b;
    justify-content: $c;
    align-items: $d;
}
