$c-hover        : #a8a8a8;
$c-secundario   : #8df6c3;
$c-negro        : #282828 ;
$c-fondo        : rgb(233, 233, 233) ;
$font-ppal      : normal normal normal 100% / 140% Montserrat, 'Roboto', sans-serif;

$negro : #282828; 

$color1 : #4D94B3;
$color2 : #6CCCB4;
$color3 : #8F6CCC;

$blur : 60px;

$rrss-yt: #85211d;
$rrss-medium: #00925c;

$blog-parrafo : rgb(74, 80, 80);